body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background: #252525;
}

h1 {
    color: #333;
}

.container {
    max-width: 600px;
    margin: auto;
    /* background: repeating-linear-gradient(122deg,#e49f37, #ff7e05, #155724, #333); */
    background: repeating-radial-gradient(#474747, #383838, #2b2b2b, #252525);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#project-title {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    width: 100%; 
    text-transform: uppercase;
}

.button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

.project-buttons{
    display: flex;
}

.project-btn{
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    margin: 2px;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #218838;
}

.project-controls{
    display: flex;
    justify-content: space-between;
}

.project-list {
    list-style-type: none;
    padding: 0;
}

#projectList{
    background-color: #33333383;
    padding: 5px;
    border-radius: 3px;
    margin: 0 0 30px 0;
}

.project-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.project-row{
    display: flex;
    justify-content: space-between;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.project-time{
    font-size: 12px;
    opacity: 50%;
    font-weight: bold;
}

.project-name{
    font-weight: bold;
}

.project-item:last-child {
    border-bottom: none;
}

.project-details {
    margin-top: 20px;
}

.timer {
    font-size: 24px;
    margin: 20px 0;
}

/* Highlight active project */
.active-project .project-time{
    color: #155724;
    opacity: 100%;
}