body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background: #464646;
}

h1 {
    color: #333;
}

.container {
    max-width: 600px;
    margin: auto;
    /* background: repeating-linear-gradient(122deg,#e49f37, #ff7e05, #155724, #333); */
    background: linear-gradient(125deg,#4d4d4d, #2c2c2c, #2c2c2c, #2c2c2c);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.301);
}

#project-title {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    width: 100%; 
    text-transform: uppercase;
    color: #535353;
    /* padding: 0px; */
    margin: 0px;
}

.button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

.project-buttons{
    display: flex;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    margin: 2px;
    transition: background-color 0.2s ease;
}

.square-btn{
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
}

.square-btn:hover{
    background-color: #b4b4b4;
    transition: linear 0.2s;
}

.project-txt{
    color: #808080;
    font-weight: bold;
}

.button:hover {
    background-color: #218838;
}

.project-controls{
    display: flex;
    justify-content: space-between;
}

.project-list {
    list-style-type: none;
    padding: 0;
}

#projectList{
    background-color: #2b2b2b83;
    padding: 5px;
    border-radius: 3px;
    margin: 0 0 30px 0;
    color: #808080;
}

.project-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.project-row{
    display: flex;
    justify-content: space-between;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.project-time{
    font-size: 12px;
    opacity: 50%;
    font-weight: bold;
}

.project-name{
    font-weight: bold;
}

.project-btn{
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px;
}

.project-btn:hover{
    background-color: #b4b4b4;
    transition: linear 0.2s;
}

.delete-btn:hover{
    background-color: #ffa7b06e;
    transition: 0.2s;
}

#addProjectButton{
    color: #c7c7c7;
    background-color: #777777;
}

#addProjectButton:hover{
    background-color: #929292;
    transition: linear 0.2s;
}
    
.project-item:last-child {
    border-bottom: none;
}

.project-details {
    margin-top: 20px;
}

.timer {
    font-size: 24px;
    margin: 20px 0;
}

/* Highlight active project */
.active-project .project-time{
    color: #155724;
    opacity: 100%;
}